body {
    margin: 0;
}

#about {
    width: 100%;
    /* height: 100vh; */
    /* background: white; */
    background-color: #EAEAEA;
    z-index: 1;
    /* height: 760px; */
    height: 800px;
    /* max-height: 700px; */
}

#home {
    width: 100%;
    height: 100vh;
}

#projects {
    width: 100%;
    height: 660px;
    /* background-color: #b8b8b8; */
    /* overflow: hidden; */
}

#contact {
    width: 100%;
    height: 75vh;
    /* background-color: rgb(38, 38, 38); */
    /* background-color: #353b48; */
    /* background-color: #718093; */
    background-color: #2c2c54;
    /* background-color: #192a56; */
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

[data-scroll] {
    transition: all 2s;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px);
}


/* ------ contact section --------- */

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.contactbtn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px 1px #00000070;
    /* color: #3498db; */
    color: #706fd3;
    overflow: hidden;
    position: relative;
}

.contactbtn i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.contactbtn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.contactbtn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    /* background: #3498db; */
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

#fb::before {
    background-color: #3b5998;
}

#linkedin::before {
    /* background-color: #2867B2; */
    background-color: #0E76A8;
}

#gmail::before {
    background-color: #B23121;
}

#github::before {
    background-color: #211F1F;
    /* border: 0.5px solid red; */
}

.contactbtn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

#myemail {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contactme {
    font-family: 'Montserrat', sans-serif;
}


/* ---------- projects section ---------- */

#titleprojects {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.projectscontainer {
    padding-top: 2%;
    padding-bottom: 4%;
    overflow: hidden;
}

.single-content .title {
    margin: 0;
    position: absolute;
    font-size: 20px;
    color: #fff;
}

.single-content {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.single-content img {
    width: 100%;
    height: 100%;
}

.single-content .img-text {
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, 0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: 0.5s;
    padding: 10% 0 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.single-content .img-text h2 {
    font-size: 20px;
}

.single-content:hover .img-text {
    opacity: 1;
    transform: perspective(400px) rotateX(0);
}

.single-content .title {
    bottom: 25px;
    left: 25px;
    transition: 0.9s;
    font-size: 20px;
    text-transform: uppercase;
}

.single-content .title::before {
    content: '';
    border-right: 3px solid #fff;
    margin-right: 10px;
}

.single-content:hover .title {
    bottom: -40px;
}

#btn-xs {
    padding: .2rem .4rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


/* --------------------------------- */


/* .skills {
    width: 500px;
    margin: 30px auto;
    list-style: none;
} */


/* --------------- */


/*==========Skill Bar===============*/

.skillscontainer {
    height: 200px;
    max-width: 100%;
    width: 100%;
    margin: 2% auto;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
}

.bar {
    margin: 10px 0 10px;
    overflow: hidden;
    background-color: #EAEAEA;
    /*padding-left:20px;
  padding-right: 25px; /* Separate bars from container */
}

.progress-title-holder {
    padding-bottom: 2px;
    position: relative;
    margin: 2px 0;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    /* background-color: white; */
    color: #2e2e2e;
}

.progress-title {
    z-index: 100;
    /* background-color: white; */
    font-weight: bold;
}

.progress-content-outter {
    height: 12px;
    background-color: #CDCDCD;
}

.progress-content {
    height: 21px;
    line-height: 11px;
    background-color: #00d2ff;
    width: 0%;
    text-align: right;
    font-size: 11px;
    /* Initial value */
}


/* ---------About Section------------- */

#titleabout {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#mypicture {
    /* margin: 20% auto;
    height: 50%; 
    width: 100%;
    border-radius: 50%; */
    border-radius: 50%;
    height: 300px;
    width: 90%;
    margin: 4px 0 0 4px;
    box-shadow: 10px 10px 5px grey;
}


/* @media (min-width: 768px) {
    #mypicture {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
} */


/* -------- Scroll icon -------- */


/* .scrollanim {
    position: relative;
} */

.scrollicon {
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -15px;
    margin-bottom: 30px;
    z-index: 3;
}

.scrollicon .mouse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    z-index: 3;
}

.scrollicon .wheel {
    width: 4px;
    height: 4px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: white;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 3;
}

@keyframes scroll-wheel {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}


/* -------- */

#mainNavbar {
    font-size: 1.2rem;
    /* border-bottom: 0.2px solid #DEDEDE; */
    /* box-shadow: 1px 0 5px rgba(222, 222, 222, 0.9); */
    /* font-weight: bold; */
}

#mainNavbar .navbar-brand {
    color: #000b80;
    font-size: 1.5rem;
    /* font-weight: bold; */
    /* font-family: 'Sacramento', cursive; */
    /* font-family: 'Special Elite', cursive; */
    /* font-family: 'Cutive Mono', monospace; */
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'Courier Prime', monospace;
}

#mainNavbar .navbar-brand i {
    font-size: 1.1rem;
}

#mainNavbar .nav-link {
    /* color: #EAEAEA; */
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 0 rgba(104, 104, 104, 0.5);
}

#mainNavbar .nav-link:hover {
    color: #000b80;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.5);
    /* color: #EAEAEA; */
}

.navbar.scrolled {
    background: #AEAEAE;
    opacity: 0.8;
    transition: background 500ms;
}


/* ----------------- */

.parallax {
    background: url("/stylesheets/aman-dhakal-YkWz_coLm84-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    /* z-index: 0; */
}

.parallax .fadingout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, transparent 0%, rgba(204, 204, 204, 0.8) 100%) repeat scroll 0 0;
}


/* -------- Particle.js -------- */

#particles-js {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* -------- Parallax window -------- */


/* .parallax-window {
    min-height: 100vh;
    background: transparent;
} */


/* -------- Home section -------- */

.welcome,
.mytitle {
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 3rem;
    margin: 0em;
    text-shadow: 0px 2px 3px black;
    z-index: 2;
}

.welcome {
    font-weight: bold;
}

.containerintro {
    position: absolute;
    text-align: center;
}